spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}

    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        open-in-view: false
        hibernate:
            ddl-auto: update
            format_sql: true
        show-sql: true

    logging.level:
        org.hibernate.SQL: debug
