<configuration>

    <property name="CONSOLE_LOG_PATTERN"
      value="[%d{yy-MM-dd HH:mm:ss.SSS}] [%blue(%X{request_id})] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="DEFAULT_CONSOLE">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="JSON_CONSOLE">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
                <appendLineSeparator>true</appendLineSeparator>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="bulk-load">
        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="develop">
        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
