name: main branch cd

on:
    push:
        branches: [ "main" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: prod
        steps:
            -   name: checkout
                uses: actions/checkout@v3

            -   name: Set up JDK 11
                uses: actions/setup-java@v3
                with:
                    java-version: '11'
                    distribution: 'temurin'

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Clean and Build with Gradle
                run: ./gradlew clean build

            -   name: Cache Gradle packages
                uses: actions/cache@v1
                with:
                    path: ~/.gradle/caches
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
                    restore-keys: ${{ runner.os }}-gradle

            -   name: Copy JAR file to EC2
                uses: appleboy/scp-action@master
                with:
                    host: ${{ secrets.EC2_HOST }}
                    username: ${{ secrets.EC2_USERNAME }}
                    key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                    port: 22
                    source: build/libs/draw-my-today-0.0.1-SNAPSHOT.jar
                    target: /home/ubuntu/SpringServer

            -   name: Deploy EC2
                uses: appleboy/ssh-action@master
                with:
                    host: ${{ secrets.EC2_HOST }}
                    username: ${{ secrets.EC2_USERNAME }}
                    key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                    port: 22
                    script: |
                        set -e
                        
                        cd SpringServer/deploy
                        rm -f .env
                        touch .env
                        
                        add_env_var() {
                            echo "export $1='$2'" >> ./.env
                        }
                        
                        add_env_var "KAKAO_API_KEY" "${{ secrets.KAKAO_API_KEY }}"
                        add_env_var "KARLO_API_URL" "${{ secrets.KARLO_API_URL }}"
                        add_env_var "KARLO_NEGATIVE_PROMPT" "${{ secrets.KARLO_NEGATIVE_PROMPT }}"
                        add_env_var "KARLO_DEFAULT_STYLE" "${{ secrets.KARLO_DEFAULT_STYLE }}"
                        add_env_var "R2_SECRET_ACCESS_KEY" "${{ secrets.R2_SECRET_ACCESS_KEY }}"
                        add_env_var "R2_ACCESS_KEY_ID" "${{ secrets.R2_ACCESS_KEY_ID }}"
                        add_env_var "R2_BUCKET_NAME" "${{ secrets.R2_BUCKET_NAME }}"
                        add_env_var "R2_ACCOUNT_ID" "${{ secrets.R2_ACCOUNT_ID }}"
                        add_env_var "R2_CUSTOM_DOMAIN" "${{ secrets.R2_CUSTOM_DOMAIN }}"
                        add_env_var "OPENAI_API_KEY" "${{ secrets.OPENAI_API_KEY }}"
                        add_env_var "DALLE_API_URL" "${{ secrets.DALLE_API_URL }}"
                        add_env_var "AWS_SECRET_ACCESS_KEY" "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
                        add_env_var "AWS_ACCESS_KEY_ID" "${{ secrets.AWS_ACCESS_KEY_ID }}"
                        add_env_var "AWS_S3_BUCKET" "${{ secrets.AWS_S3_BUCKET }}"
                        add_env_var "GOOGLE_CLIENT_ID" "${{ secrets.GOOGLE_CLIENT_ID }}"
                        add_env_var "GOOGLE_CLIENT_SECRET" "${{ secrets.GOOGLE_CLIENT_SECRET }}"
                        add_env_var "GOOGLE_TOKEN_URL" "${{ secrets.GOOGLE_TOKEN_URL }}"
                        add_env_var "GOOGLE_USER_INFO_URL" "${{ secrets.GOOGLE_USER_INFO_URL }}"
                        add_env_var "GOOGLE_REDIRECT_URI" "${{ secrets.GOOGLE_REDIRECT_URI }}"
                        add_env_var "GOOGLE_DELETE_ACCOUNT_URL" "${{ secrets.GOOGLE_DELETE_ACCOUNT_URL }}"
                        add_env_var "APPLE_IOS_CLIENT_ID" "${{ secrets.APPLE_IOS_CLIENT_ID }}"
                        add_env_var "APPLE_IOS_TEAM_ID" "${{ secrets.APPLE_IOS_TEAM_ID }}"
                        add_env_var "APPLE_IOS_KEY_ID" "${{ secrets.APPLE_IOS_KEY_ID }}"
                        add_env_var "APPLE_IOS_PRIVATE_KEY" "${{ secrets.APPLE_IOS_PRIVATE_KEY }}"
                        add_env_var "APPLE_IOS_TOKEN_URL" "${{ secrets.APPLE_IOS_TOKEN_URL }}"
                        add_env_var "APPLE_IOS_DELETE_ACCOUNT_URL" "${{ secrets.APPLE_IOS_DELETE_ACCOUNT_URL }}"
                        add_env_var "JWT_SECRET" "${{ secrets.JWT_SECRET }}"
                        add_env_var "ENCRYPTOR_SECRET_KEY" "${{ secrets.ENCRYPTOR_SECRET_KEY }}"
                        add_env_var "PRESIGNED_IMAGE_EXPIRATION_ADMIN_DIARIES" "${{ secrets.PRESIGNED_IMAGE_EXPIRATION_ADMIN_DIARIES }}"
                        add_env_var "RDS_URL" "${{ secrets.RDS_URL }}"
                        add_env_var "RDS_USERNAME" "${{ secrets.RDS_USERNAME }}"
                        add_env_var "RDS_PASSWORD" "${{ secrets.RDS_PASSWORD }}"
                        add_env_var "GPT_CHAT_COMPLETIONS_PROMPT" "${{ secrets.GPT_CHAT_COMPLETIONS_PROMPT }}"
                        add_env_var "GPT_CHAT_COMPLETIONS_REGENERATE_PROMPT" "${{ secrets.GPT_CHAT_COMPLETIONS_REGENERATE_PROMPT }}"
                        
                        ./deploy.sh
